{{define "title"}}Fight{{end}}

{{define "head"}}{{end}}

{{define "combat-room"}}
<h1 class="text-3xl">
    An Enemy Has Appeared!
</h1>
<p class="font-serif">
    Get ready for a fight.
</p>
<p class="w-full text-lg">{{.CurrentEnemy}}</p>
<div class="w-full bg-slate-400 rounded mt-2 mb-4 relative">
    <div class="h-6 bg-red-700 rounded" style="{{.EnemyHealthInlineStyle}}"></div>
    <p class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 font-mono text-sm">
        {{.CurrentEnemyHP}} / {{.CurrentEnemyMaxHP}}
    </p>
</div>
<img id="enemy-image" width="300px" src="{{.EnemyImageURL}}" />

{{end}}
