{{define "title"}}Event{{end}}

{{define "head"}}

{{end}}

{{define "event-room"}}
<p id="choice-type">
    This feels like {{ .EventType }} 
</p>
<p id="choice-description">
    {{ .EventText }}
</p>

<!-- if event type is Choice, give options test -->
{{if eq .EventType "Choice"}}
<div id="choice-options">
    <p>What do you want to do?</p>
    <ul>
        {{range .EventChoices}}
        <li>
            <!-- <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> -->
                {{.}}
            <!-- </button> -->
        </li>
        {{end}}
    </ul>
</div>
{{end}}
{{end}}
