{{define "title"}}Home Page{{end}}

{{define "head"}}
    <!-- Add any page-specific head elements here -->
{{end}}

{{define "content"}}
    <h1>Gleam Dungeon Crawler</h1>
    <p>
    This was a project created with the goal of learning the Gleam language,
    as well as creating a fun way for people to interact with an API. 
    </p>
    <h2>Directions</h2>
    <p>
    The goal of this is to traverse the dungeon and defeat the final enemy at the end.
    Use the endpoints to create a character and then start your journey.
    </p>
    <h2>Commands</h2>
    <h3>Start</h3>
    <p><strong>Endpoint:</strong> /start</p>
    <p><strong>Parameters:</strong> none</p>
    <h3>Character Creation</h3>
    <p><strong>Endpoint:</strong> /create-character/[name]</p>
    <p><strong>Parameters:</strong> none</p>
{{end}}

