{{define "title"}}Traversing The Dungeon{{end}}

{{define "head"}}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Make a fetch request to get initial game state
        fetch('/move/{{.MoveDirection}}', {
            headers: {
                'Accept': 'application/json'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            if (response.redirected) {
                console.log('redirrect')
                window.location.href = response.url;
            }
            return response.json()
        })
        .then(gameState => {
            console.log(1, gameState)
            // Save all returned game state
            Object.entries(gameState).forEach(([key, value]) => {
                if (key !== 'RedirectTo') {
                    window.GameState.save(key, value);
                }
            });

            // Then redirect
            if (gameState.RedirectTo) {
                window.location.href = gameState.RedirectTo;
            }
        })
        .catch(error => {
            console.error('Error:', error);
            // Handle error (show message to user, etc.)
        });
    });
</script>
{{end}}

{{define "content"}}
<h1>
    Moving {{.MoveDirection}}...
</h1>
<p>
    What could be next?
</p>
{{end}}
