{{define "title"}}Traversing The Dungeon{{end}}

{{define "head"}}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Make a fetch request to get initial game state
        fetch('/move/{{.MoveDirection}}', {
            headers: {
                'Accept': 'application/json'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok', response);
            }
            return response.json()
        })
        .then(gameState => {
            // Save all returned game state
            Object.entries(gameState).forEach(([key, value]) => {
                if (key !== 'RedirectTo') {
                    window.GameState.save(key, value);
                }
            });
            //set this cookie data
            // redirectCookie := &http.Cookie{
            // 	Name:     "redirect-token",
            // 	Value:    "true",
            // 	Path:     "/",
            // 	MaxAge:   10, // Short-lived
            // 	HttpOnly: true,
            // 	Secure:   true,
            // 	SameSite: http.SameSiteStrictMode,
            // }
            // http.SetCookie(w, redirectCookie)

            const cookieName = 'redirect-token';
            const cookieValue = 'true';
            const maxAge = 10; // Short-lived
            const path = '/';
            const cookieString = `${cookieName}=${cookieValue}; Max-Age=${maxAge}; Path=${path}; Secure; HttpOnly; SameSite=Strict`;
            document.cookie = cookieString;
            // get game state for current room
            const currentGameState = window.GameState.getAll();
            if (currentGameState.CurrentRoom) {
                // redirect there using cookie
                window.location.href = `/room/${currentGameState.CurrentRoom}`;
            } else {
                // If no room is found, redirect to a default page
                window.location.href = '/look/';
            }
            


        })
        .catch(error => {
            console.error('Error:', error);
            // Handle error (show message to user, etc.)
        });
    });
</script>
{{end}}

{{define "content"}}
<h1>
    Moving {{.MoveDirection}}...
</h1>
<p>
    What could be next?
</p>
{{end}}
