{{define "title"}}Getting Started{{end}}

{{define "head"}}{{end}}

{{define "content"}}
    {{if eq .RoomType "COMBAT"}}
        <div class="room-content" id="combat-room">
            {{template "combat-room" .}}
        </div>
    {{else if eq .RoomType "EVENT"}}
        <div class="room-content" id="event-room">
            {{template "event-room" .}}
        </div>
    {{else if eq .RoomType "TREASURE"}}
        <div class="room-content" id="treasure-room">
            {{template "treasure-room" .}}
        </div>
    {{else}}
        <div class="room-content" id="empty-room">
            {{template "empty-room" .}}
        </div>
    {{end}}
{{end}}


